.contactForm {
  display: column;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: aliceblue;
}

.butoni {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


@media (min-width: 481px) and (max-width: 767px) {
  body {
      font-size: 16px;
  }

  header {
      padding: 15px;
  }

  nav ul {
      display: flex;
      flex-direction: column;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .footeri,
  .linksfooteri {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .linksfooteri .links {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
  }

  .linksfooteri .links span {
      font-size: 16px;
      margin: 5px 0;
  }

  .linksfooteri .links a {
      padding: 5px 10px;
  }
}

