/* .headeri{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    /* height: 10vh;
    background-color: aliceblue;
    


} */ */

/* .faqja{
    flex-basis: 100%;
    margin-top: 30px;
    justify-content: right;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
     z-index: 999; 
} */
.footeri{
    background-color: rgb(241, 189, 124);
    color: azure;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.main{
   /* background-image: url('C:\Users\HP-650 G1\Downloads\IMG_5212.jpg'); */
   /* background-size: cover;
   background-position: center;
   height: 100%; */
   min-height: 0.5vh;
   text-align: center;
   display: flex;
            justify-content: space-between;
            
            flex-wrap: wrap;
  

}

footer {
    background-color: floralwhite;
    padding: 20px;
    text-align: center;
   

}

.footeri{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lokacioni{
    display: flex;
    align-items: center;
}
.kontakti{
    display: flex;
    align-items: center;
}

.lokacioni img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.kontakti img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.fotomebuton{
    position: relative;
    margin-top: -10px;
    display: flex;
            justify-content: space-between;
            align-items: center;
            
            flex-wrap: wrap;
}


 .fotomebuton img{
    width:100%;
    max-width: 100%;
    height:auto;
    /* display: block; */
    display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
     /* object-fit: cover;  
    max-width: 100%;
    height: auto; */
  
 }
.butoniblej{
    position: absolute;
    transform: translate(-50%,-50%);
    text-decoration: none;
    top: 70%;
    left: 50%;

    padding: 10px 20px;
    background-color: #333;
    color: white;
    z-index: 1;
  
    
} 