body,
ul {
  margin: 0;
  padding: 0;
}


header {
  color: #ffffff;
  background: rgb(122,94,55);
background: radial-gradient(circle, rgba(122,94,55,1) 0%, rgba(102,76,40,1) 59%, rgba(108,102,67,1) 100%);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
section {
  margin: 40px 0;
}

h2 {
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}

.product {
  text-align: center;
  width: 200px; 
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 2;
  justify-content: space-evenly; 
  gap: 10px;
}

.product img {
  height: 200px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  margin: 10px;
  
}
  .footeri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 40px 80px;
  }
  .footer .copy {
    color: #000000;
    justify-content: space-evenly;
  }
  .linksfooteri {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
  }
  .linksfooteri .links {
    justify-content: space-evenly;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
  }
  .linksfooteri .links span {
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .linksfooteri .links a {
    text-decoration: none;
    text-align: center;
    color: #a1a1a1;
    padding: 10px 20px;
  }


  a {
    color: rgb(255, 255, 255); 
  }
  
  
  a:visited {
    color: rgb(255, 255, 255); 
  }
  
  
  a:hover {
    color: red; /* kur ta afrojsh kursorin del ngjyra */
  }

main{
  background: rgb(226,196,143);
  background: linear-gradient(0deg, rgba(226,196,143,1) 0%, rgba(191,169,129,1) 31%, rgba(244,239,230,1) 100%);
}
